@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #535fe6;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.height {
  height: 100vh;
}

.card {
  border: none;
  padding: 20px;
  color: black;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  
}

.head {
  text-align: center;
}

.form-input {
  position: relative;
  margin-bottom: 3px;
  margin-top: 0px;
}

.firstName {
  margin-top: 10px;
}

.form-input i {
  position: absolute;
  font-size: 18px;
  top: 15px;
  left: 10px;
}

.form-control {
  height: 50px;
  background-color: #1c1e21;
  text-indent: 24px;
  font-size: 15px;
}

.form-control:focus {
  background-color: #25272a;
  box-shadow: none;
  color: #fff;
  border-color: #4f63e7;
}

.form-check-label {
  margin-top: 2px;
  font-size: 14px;
}

.signup {
  height: 50px;
  font-size: 14px;
}

.last-line{
    text-align: center;
    font-size: small;
}

.result-img{
  width: 10%;
  margin: 4% 4% 0%;
}

